:root {
    
  --gradiant-color-from: #0163ea;
  --gradiant-color-to: #00bcf9;
  --black-color: #101010; 

  --heading: 'Nunito';
  --body-font: 'Nunito';  
  --body-color: #666666;  
  --sv-body-color: #202020;  
  --transition: 500ms all ease;
  --main-color: #015fea;
  --base-color:  linear-gradient(to right,var(--gradiant-color-from),var(--gradiant-color-to));
  --theme-color: #056251;
  --theme-color-2: #FFB966;
  --theme-color-custom:#7CB9E8;

  --meta-font: 'Nunito';
  --main-sv-color: #034b5b;
  --base-sv-color: #f18f20;
  --sv-body-font: 'Nunito';
  --sv-heading-font: 'Nunito';


  /*
  Previous code
    --gradiant-color-from: #0163ea;
  --gradiant-color-to: #00bcf9;
  --black-color: #101010; 

  --heading: 'DM Sans';
  --body-font: 'DM Sans';  
  --body-color: #666666;  
  --sv-body-color: #202020;  
  --transition: 500ms all ease;
  --main-color: #015fea;
  --base-color:  linear-gradient(to right,var(--gradiant-color-from),var(--gradiant-color-to));
  --theme-color: #056251;
  --theme-color-2: #FFB966;
  --meta-font: 'Play', sans-serif;
  --main-sv-color: #034b5b;
  --base-sv-color: #f18f20;
  --sv-body-font: 'Montserrat';
  --sv-heading-font: 'Libre Baskerville'; 
   */
}
